@using DPMOPS.Services.ServiceRequest.Dtos
@using Humanizer

@{
    ViewData["Title"] = "Home Page";
    var data = ViewData["UserData"] as IList<ServiceRequestDto>;
}

<div class="container my-4">
    <div class="d-flex justify-content-between mb-3">
            @if (data == null || data.Count == 0)
            {
                <div class="alert alert-info">
                    انت لم تقدم على أي طلب خدمة
                </div>
            }
            else
            {
                <div class="panel-heading">
                    <h3 class="fw-bold mb-0">طلباتك</h3>
                </div>
            }
            <div>
                <a asp-page="/ServiceRequest/Add" class="btn btn-outline-primary">
                    <i class="bi bi-plus-lg"></i>
                    التقديم على طلب خدمة
                </a>
            </div>
    </div>

        @if (data != null && data.Count > 0)
        {
            <div class="row g-4">
            @foreach (var sr in data)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card card-custom-bg h-100 shadow-sm d-flex flex-column">
                        <!-- Image: 4:3 ratio -->
                        <div class="ratio ratio-4x3 h-100">
                            <img src="@(string.IsNullOrEmpty(sr.PhotoPath) ? "/placeholder.jpg" : sr.PhotoPath)"
                                 class="object-fit-cover card-img-top"
                                 alt="الصورة غير متوفرة"
                                 asp-append-version="true">
                        </div>


                        <!-- Card Body -->
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title fw-bold">@sr.Title</h4>
                            <p class="card-text flex-grow-1">@sr.Description</p>
                                <p class="small text-muted">
                                    <i class="bi bi-geo-alt-fill"></i> @sr.Address <br />
                                    <i class="bi bi-activity"></i> @sr.Status
                                </p>
                            <div class="position-absolute d-flex gap-2" style="bottom: 0.5rem; left: 0.5rem;">
                                <a asp-page="/ServiceRequest/Info" asp-route-id="@sr.ServiceRequestId"
                                   class="btn btn-sm btn-outline-info d-inline-flex align-items-center gap-1">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        }
</div>


