@using DPMOPS.Services.ServiceRequest.Dtos
@{
    var data = ViewData["UserData"] as IList<ServiceRequestDto>;


if (data.Count() == 0){
    <h3>You havn't made any service request</h3>
}
else if (data!=null){
<div class="panel panel-default table-panel">
    <h3>Your Service Requests</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Desc</th>
                <th>Reason</th>
                <th>Location</th>
                <th>Location Desc</th>
                <th>Service Type</th>
                <th>Citizen Name</th>
                <th>Provider Name</th>
                <th>Date Reported</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sr in data)
            {
                <tr>
                    <td>@sr.Description</td>
                    <td>@sr.Reason</td>
                    <td>@sr.Address</td>
                    <td>@sr.LocDescription</td>
                    <td>@sr.ServiceType</td>
                    <td>@sr.CitizenName</td>
                    <td>@sr.ProviderName</td>
                    <td>@sr.DateCreated</td>
                    <td>@sr.Status</td>
                    <td>
                        <a asp-page="/ServiceRequest/EditServiceRequest" asp-route-id="@sr.ServiceRequestId" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-page="/ServiceRequest/DeleteServiceRequest" asp-route-id="@sr.ServiceRequestId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
}
    <a asp-page="/ServiceRequest/AddRequest" class="btn btn-primary">Add Service Request</a>
    <a asp-page="/ServiceRequest/Index" class="btn btn-primary">View All Service Requests</a>
}