@page
@using Humanizer
@model DPMOPS.Pages.ServiceProvider.RequestsModel
@{

}
<div class="container py-4">
@if (Model.Requests.Count() == 0){
<h2 class="fw-bold mb-4">You havn't made any service request</h2>
}
else if (Model.Requests!=null){
<h2 class="fw-bold mb-4">Your Recent Requests</h2>

@foreach (var sr in Model.Requests)
{
    <div class="card mb-4 shadow-sm border-0">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/placeholder.jpg" class="img-fluid rounded-start h-100 object-fit-cover" alt="image didn't load correctly">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-semibold">@sr.Title</h5>
                    <p class="card-text">@sr.Description</p>
                    <p class="card-text">
                        <small class="text-muted">
                            @sr.Address, @sr.LocDescription <br />
                            @sr.DateCreated.Humanize() <br />
                            Status: @sr.Status <br />
                            Subbmited By: @sr.CitizenName
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
}
</div>
