@page
@model DPMOPS.Pages.Organization.IndexModel
@{
    ViewData["Title"] = "المؤسسات";
}

<div class="panel panel-default table-panel">
    <div class="d-flex justify-content-between mb-3">
        <h3>@ViewData["Title"]</h3>
        <div>
            <a asp-page="Add" class="btn btn-outline-primary"><i class="bi bi-plus-lg"></i>إضافة مؤسسة</a>
        </div>
    </div>

    <table class="table table-hover table-striped display" id="org-table">
        <thead>
            <tr>
                <th>الاسم</th>
                <th>المدينة</th>
                <th>عدد الموظفين</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in Model.Organizations)
            {
                <tr>
                    <td>@o.Name</td>
                    <td>@o.CityName</td>
                    <td>@o.NumberOfEmployees</td>
                    <td>
                        <a asp-page="Employees/Index" asp-route-id="@o.OrganizationId" class="btn btn-sm btn-outline-secondary">إدارة الموظفين</a>
                        <a asp-page="Edit"
                           asp-route-id="@o.OrganizationId"
                           class="btn btn-sm btn-outline-warning"
                           title="Edit">
                            <i class="bi bi-pen-fill"></i>
                        </a>
                        <a asp-page="Delete"
                           asp-route-id="@o.OrganizationId"
                           class="btn btn-sm btn-outline-danger"
                           title="Delete">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Styles {
    <link href="~/lib/datatables/css/datatables.min.css" rel="stylesheet">
    <link href="~/css/tableStyling.css" rel="stylesheet" asp-append-version="true"/>
}

@section Scripts {
    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script src="~/js/tableStyling.js" asp-append-version="true"></script>
}