@page
@model DPMOPS.Pages.ServiceRequest.ByOrgModel
@{
    ViewData["Title"] = "طلبات الخدمة";
}

<div class="panel panel-default table-panel">
    @if (Model.ServiceRequests.Count() == 0) {
        <h2 class="fw-bold mb-4">لا يوجد أي طلب خدمة في مؤسستك</h2>
    }
    else if (Model.ServiceRequests!=null){
    <h3>كل طلبات الخدمة في مؤسستك</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>العنوان</th>
                <th>الوصف</th>
                <th>الموقع</th>
                <th>وصف الموقع</th>
                <th>المواطن</th>
                <th>الموظف</th>
                <th>التاريخ</th>
                <th>الحالة</th>
                <th>العمليات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sr in Model.ServiceRequests)
            {
                <tr>
                    <td>@sr.Title</td>
                    <td>@sr.Description</td>
                    <td>@sr.Address</td>
                    <td>@sr.LocDescription</td>
                    <td>@sr.CitizenName</td>
                    <td>@sr.EmployeeName</td>
                    <td>@sr.DateCreated</td>
                    <td>@sr.Status</td>
                    <td>
                        <a asp-page="Info" asp-route-id="@sr.ServiceRequestId" class="btn btn-sm btn-outline-info align-items-center">
                            <i class="bi bi-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>
