@page
@model DPMOPS.Pages.ServiceRequest.IndexModel
@{
    ViewData["Title"] = "طلبات خدمة";
}

<div class="panel panel-default table-panel">
    <h3>كل طلبات خدمة في النظام</h3>

    <table class="table table-hover table-striped display" id="request-table">
        <thead>
            <tr>
                <th>العنوان</th>
                <th>الوصف</th>
                <th>الموقع</th>
                <th>وصف الموقع</th>
                <th>المؤسسة</th>
                <th>المواطن</th>
                <th>الموظف</th>
                <th>التاريخ</th>
                <th>الحالة</th>
                <th>الخصوصية</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sr in Model.ServiceRequests)
            {
                <tr class="clickable-row" data-href="@Url.Page("Info", new { id = sr.ServiceRequestId })">
                    <td>@sr.Title</td>
                    <td>@sr.Description</td>
                    <td>@sr.Address</td>
                    <td>@sr.LocDescription</td>
                    <td>@sr.OrganizationName</td>
                    <td>@sr.CitizenName</td>
                    <td>@sr.EmployeeName</td>
                    <td>@sr.DateCreated</td>
                    <td>@sr.Status</td>
                    <td>@(sr.IsPublic? "عامة" : "خاصة")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Styles {
    <link href="~/lib/datatables/css/datatables.min.css" rel="stylesheet">
    <link href="~/css/tableStyling.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/lib/datatables/js/datatables.min.js"></script>
    <script src="~/js/tableStyling.js" asp-append-version="true"></script>
    <!--making the rows clickable-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.clickable-row').forEach(row => {
                row.addEventListener('click', function () {
                    const href = this.getAttribute('data-href');
                    if (href) {
                        window.location.href = href;
                    }
                });
            });
        });
    </script>
}