@page
@model DPMOPS.Pages.ServiceRequest.IndexModel
@{
    ViewData["Title"] = "Service Requests";
}

<div class="panel panel-default table-panel">
    <h3>All The Service Requests In The System</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Location</th>
                <th>Location Desc</th>
                <th>Organization</th>
                <th>Citizen</th>
                <th>Employee</th>
                <th>Date Reported</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sr in Model.ServiceRequests)
            {
                <tr>
                    <td>@sr.Title</td>
                    <td>@sr.Description</td>
                    <td>@sr.Address</td>
                    <td>@sr.LocDescription</td>
                    <td>@sr.OrganizationName</td>
                    <td>@sr.CitizenName</td>
                    <td>@sr.EmployeeName</td>
                    <td>@sr.DateCreated</td>
                    <td>@sr.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>