@page
@model DPMOPS.Pages.ServiceRequest.IndexModel
@{
    ViewData["Title"] = "طلبات خدمة";
}

<div class="panel panel-default table-panel">
    <h3>كل طلبات خدمة في النظام</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>العنوان</th>
                <th>الوصف</th>
                <th>الموقع</th>
                <th>وصف الموقع</th>
                <th>المؤسسة</th>
                <th>المواطن</th>
                <th>الموظف</th>
                <th>التاريخ</th>
                <th>الحالة</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sr in Model.ServiceRequests)
            {
                <tr>
                    <td>@sr.Title</td>
                    <td>@sr.Description</td>
                    <td>@sr.Address</td>
                    <td>@sr.LocDescription</td>
                    <td>@sr.OrganizationName</td>
                    <td>@sr.CitizenName</td>
                    <td>@sr.EmployeeName</td>
                    <td>@sr.DateCreated</td>
                    <td>@sr.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>