@page "{id}"
@model DPMOPS.Pages.ServiceRequest.InfoModel
@using Humanizer
@using System.Globalization
@{
    ViewData["Title"] = "معلومات الطلب";
}

<div class="container py-5">
    <div class="row align-items-stretch border rounded-3 shadow-sm overflow-hidden">
        <!-- Image on the Left -->
        <div class="col-lg-6 mb-4 mb-lg-0 p-0">
            <div class="ratio ratio-4x3">
                <img src="@(string.IsNullOrEmpty(Model.ServiceRequest.PhotoPath) ? "/placeholder.jpg" : Model.ServiceRequest.PhotoPath)"
                     class="img-fluid rounded shadow-sm object-fit-cover"
                     alt="الصورة غير متوفرة"
                     asp-append-version="true">
            </div>
        </div>

        <!-- Content on the Right -->
        <div class="col-lg-6 position-relative">
            <!-- Delete Button -->
            @if (Model.DeleteVisible)
            {
                <a asp-page="Delete"
                   asp-route-id="@Model.ServiceRequest.ServiceRequestId"
                   class="btn btn-sm btn-outline-danger position-absolute top-0 start-0 m-2"
                   title="Delete">
                    <i class="bi bi-trash-fill"></i>
                </a>
            }
            <!-- Text Content -->
            <h1 class="display-5 fw-bold">@Model.ServiceRequest.Title</h1>
            <p class="lead mt-3">@Model.ServiceRequest.Description</p>

            <!-- List of Details -->
            <p class="list-unstyled small text-muted fs-6">
                <i class="bi bi-geo-alt-fill"></i> @Model.ServiceRequest.Address, @Model.ServiceRequest.LocDescription <br />
                <i class="bi bi-calendar-event"></i> @Model.ServiceRequest.DateCreated.Humanize(culture: new System.Globalization.CultureInfo("ar"))<br />
                <i class="bi bi-person-fill"></i> المواطن: @Model.ServiceRequest.CitizenName 
                @if(Model.EmployeeViewer || Model.OrgAdminViewer)
                {
                    <button class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#contactModal"><i class="bi bi-chat"></i> التواصل</button>
                }
                <br />
                <i class="bi bi-person-check-fill"></i> الموظف: @(Model.ServiceRequest.EmployeeId == null ? "غير مخصصة" : Model.ServiceRequest.EmployeeName) <br />
                <i class="bi bi-building"></i> المؤسسة: @Model.ServiceRequest.OrganizationName <br />
                @if (Model.ServiceRequest.AppointmentDate.HasValue)
                {
                    <span>
                        <i class="bi bi-calendar-check"></i>
                         الموعد المحدد: @Model.ServiceRequest.AppointmentDate.Value.ToString("dddd, dd MMMM yyyy - hh:mm tt", new CultureInfo("ar-SY"))
                    </span>
                }
            </p>

            <div class="mt-auto pt-3">

                <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#mapModal">
                    <i class="bi bi-geo-alt"></i> عرض على الخرائط
                </button>

                @if (Model.EmployeeViewer)
                {
                    @if (Model.ServiceRequest.AppointmentId == null)
                    {
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#scheduleModal">
                            <i class="bi bi-calendar-plus"></i> اضافة موعد
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#rescheduleModal">
                            <i class="bi bi-calendar-week"></i><text> تعديل الموعد</text>
                        </button>
                    }

                    <div class="d-flex justify-content-center">
                        <form asp-page="Info" asp-page-handler="Status" class="w-50 text-center">
                            <div class="form-floating m-3">
                                <select id="statusSelect" onchange="checkSelection()" asp-for="ChangeStatus.StatusId" asp-items="@Model.StatusOptions" class="form-select">
                                </select>
                                <label asp-for="ChangeStatus.StatusId"></label>
                                <span asp-validation-for="ChangeStatus.StatusId" class="text-danger"></span>
                            </div>
                            <button id="statusSaveButton" type="submit" class="btn btn btn-primary w-50" disabled>حفظ</button>
                        </form>
                    </div>
                }

                @if (Model.OrgAdminViewer && Model.ServiceRequest.EmployeeId == null)
                {
                    <div class="d-flex justify-content-center">
                        <form asp-page="Info" asp-page-handler="Assign" class="w-50 text-center">
                            <div class="form-floating m-3">
                                <select id="transferSelect" onchange="checkSelectionEmp()" asp-for="AssignEmployee.EmployeeId" asp-items="@Model.EmployeeOptions" class="form-select">
                                    <option value=" "> </option>
                                </select>
                                <label asp-for="AssignEmployee.EmployeeId"></label>
                                <span asp-validation-for="AssignEmployee.EmployeeId" class="text-danger"></span>
                            </div>
                            <button id="transferSaveButton" type="submit" class="btn btn btn-primary w-50" disabled>تعيين</button>
                        </form>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<!--Progress Indicator-->
<div class="mx-5 prog-box">
    <div class="progress" role="progressbar" aria-label="progInd" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @((int)Model.ServiceRequest.Status)%"></div>
    </div>

    <div>
        <span class="dot first-dot">
            <i class="bi bi-hourglass-split"></i>
        </span>
        <span class="dot-label first-dot-label">قيدالانتظار</span>
    </div>

    <div>
        <span class="dot second-dot">
            <i class="bi bi-check2"></i>
        </span>
        <span class="dot-label second-dot-label">مقبول</span>
    </div>

    <div>
        <span class="dot third-dot">
            <i class="bi bi-hammer"></i>
        </span>
        <span class="dot-label third-dot-label">قيدالعمل</span>
    </div>

    <div>
        <span class="dot fourth-dot">
            <i class="bi bi-check2-all"></i>
        </span>
        <span class="dot-label fourth-dot-label">مكتمل</span>
    </div>
</div>

<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">الموقع على الخريطة</h5>
                <button type="button" class="btn-close position-absolute top-0 start-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map" style="height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

<!-- Schedule Modal -->
<div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">اضافة موعد للطلب</h5>
                <button type="button" class="btn-close position-absolute top-0 start-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-page="Info" asp-page-handler="AddAppointment">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="dateInput" class="form-label">اختر يوماً</label>
                        <input type="date" class="form-control" id="dateInput" name="ScheduleDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="timeInput" class="form-label">اختر وقتاً</label>
                        <input type="time" class="form-control" id="timeInput" name="ScheduleTime" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الالغاء</button>
                    <button type="submit" class="btn btn-success">إضافة الموعد</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Reschedule Modal -->
<div class="modal fade" id="rescheduleModal" tabindex="-1" aria-labelledby="rescheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="rescheduleModalLabel">اضافة موعد للطلب</h5>
                <button type="button" class="btn-close position-absolute top-0 start-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-page="Info" asp-page-handler="ReSchAppointment">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="dateInput" class="form-label">اختر يوماً</label>
                        <input type="date" class="form-control" id="dateInput" name="ScheduleDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="timeInput" class="form-label">اختر وقتاً</label>
                        <input type="time" class="form-control" id="timeInput" name="ScheduleTime" required>
                    </div>
                    <input type="hidden" asp-for="@Model.ReSchAppointment.AppointmentId" value="@Model.ServiceRequest.AppointmentId"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الالغاء</button>
                    <button type="submit" class="btn btn-success">تعديل الموعد</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Contect Info Modal-->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">التواصل مع المواطن</h5>
                <button type="button" class="btn-close position-absolute top-0 start-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>الاسم:</strong> @Model.Citizen.FullName</p>
                <p>
                    <strong>البريد الاكتروني:</strong>
                    <a href="mailto:@Model.Citizen.Email">@Model.Citizen.Email</a>
                </p>
                <p>
                    <strong>رقم الجوال:</strong>
                    <a href="https://wa.me/+963@(Model.Citizen.PhoneNumber)" target="_blank">@Model.Citizen.PhoneNumber</a>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    const latitude = @Model.ServiceRequest.Latitude;
    const longitude = @Model.ServiceRequest.Longitude;
    let mapInitialized = false;
    let map;

    const mapModal = document.getElementById('mapModal');
    mapModal.addEventListener('shown.bs.modal', function () {
        if (!mapInitialized) {
            map = L.map('map').setView([latitude, longitude], 15);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            L.marker([latitude, longitude]).addTo(map)
                .bindPopup('Saved Location')
                .openPopup();

            mapInitialized = true;
        } else {
            map.invalidateSize(); // Recalculate map size if modal is reopened
        }
    });

    //status select section

    let originalValue;

    window.onload = function () {
        const select = document.getElementById("statusSelect");
        originalValue = select.value;
    };

    function checkSelection() {
        const select = document.getElementById("statusSelect");
        const button = document.getElementById("statusSaveButton");

        if (select.value !== originalValue) {
            button.disabled = false;
        } else {
            button.disabled = true;
        }
    }

    let originalEmployee;

    window.onload = function () {
        const empSelect = document.getElementById("transferSelect");
        originalEmployee = empSelect.value;
    };

    function checkSelectionEmp() {
        const select = document.getElementById("transferSelect");
        const button = document.getElementById("transferSaveButton");

        if (select.value !== originalEmployee) {
            button.disabled = false;
        } else {
            button.disabled = true;
        }
    }
</script>


@section Styles {
    <link rel="stylesheet" href="~/css/progindicator.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
}

@section Scripts {
    <script src="~/js/progIndicator.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
}