@page "{id}"
@model DPMOPS.Pages.ServiceRequest.InfoModel
@using Humanizer
@using System.Globalization
@{
    ViewData["Title"] = "معلومات الطلب";
    bool hasPhoto = !string.IsNullOrEmpty(Model.ServiceRequest.PhotoPath);
    string contentColClass = hasPhoto ? "col-lg-6" : "col-lg-6 col-md-8 col-sm-10 border rounded-3 shadow-sm overflow-hidden p-4";
    string fatherclass = hasPhoto ? "border rounded-3 shadow-sm overflow-hidden" : "justify-content-center";
}

<div class="container py-5">
    <div class="row align-items-stretch @fatherclass">
    @if (hasPhoto)
    {
        <div class="col-lg-6 mb-4 mb-lg-0 p-0">
            <div class="ratio ratio-4x3">
                <img src="@Model.ServiceRequest.PhotoPath"
                     class="img-fluid rounded shadow-sm object-fit-cover"
                     alt="الصورة غير متوفرة"
                     asp-append-version="true">
            </div>
        </div>
    }
        <!-- Content on the Right -->
        <div class="@contentColClass position-relative">
          <!-- Delete Button -->
            @if (Model.DeleteVisible)
            {
                <a asp-page="Delete"
                   asp-route-id="@Model.ServiceRequest.ServiceRequestId"
                   class="btn btn-sm btn-outline-danger position-absolute top-0 end-0 m-2"
                   title="Delete">
                    <i class="bi bi-trash-fill"></i>
                </a>
            }
            <!-- Text Content -->
            <h1 class="display-5 fw-bold">@Model.ServiceRequest.Title</h1>
            <p class="lead mt-3">@Model.ServiceRequest.Description</p>

            <!-- List of Details -->
            <p class="list-unstyled small text-muted fs-6">
                <i class="bi bi-geo-alt-fill"></i> @Model.ServiceRequest.Address, @Model.ServiceRequest.LocDescription <br />
                <i class="bi bi-calendar"></i> @Model.ServiceRequest.DateCreated.Humanize(culture: new System.Globalization.CultureInfo("ar"))<br />
                @if (Model.EmployeeViewer || Model.OrgAdminViewer) {
                    <i class="bi bi-person-fill"></i>
                    <text>المواطن: </text>
                    @Model.ServiceRequest.CitizenName
                    <button class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#contactModal"><i class="bi bi-chat"></i> التواصل</button>
                    <br />
                }
                <i class="bi bi-person-badge-fill"></i> الموظف: @(Model.ServiceRequest.EmployeeId == null ? "غير مخصص" : Model.ServiceRequest.EmployeeName) <br />
                <i class="bi bi-building"></i> المؤسسة: @Model.ServiceRequest.OrganizationName <br />
                @if (Model.ServiceRequest.IsPublic)
                {
                    <i class="bi bi-unlock"></i>
                    <text> عامة</text>

                    <br />
                }
                else
                {
                    <i class="bi bi-person-lock"></i>
                    <text> خاصة</text>

                    <br />
                }
                @if (Model.ServiceRequest.AppointmentDate.HasValue)
                {
                    <span>
                        <i class="bi bi-calendar-event"></i>
                        الموعد المحدد: @Model.ServiceRequest.AppointmentDate.Value.ToString("dddd, dd MMMM yyyy - hh:mm tt", new CultureInfo("ar-SY"))
                    </span> <br />
                }
                @if (Model.IsCompleted)
                {
                    <span>
                        <i class="bi bi-calendar-check"></i>
                        تاريخ الانهاء: @Model.ServiceRequest.DateCompleted.Humanize(culture: new System.Globalization.CultureInfo("ar"))
                    </span>
                }
            </p>

            <div class="mt-auto pt-3">

                <!--Map Button-->
                <button class="btn btn-outline-secondary m-1" data-bs-toggle="modal" data-bs-target="#mapModal">
                    <i class="bi bi-geo-alt"></i> عرض على الخرائط
                </button>

                @if ((Model.IsCompleted && Model.IsOwner) || Model.ServiceRequest.Review != null)
                {
                    <div class="row">
	                    <div class="col-md-12">
		                    <div class="stars rtl">
                              <form asp-page="Info" asp-page-handler="Review" class="rating-form">
                                <input class="star star-5" id="star-5" type="radio" name="ReviewStar" value="5" 
                                @((Model.IsOwner && Model.ServiceRequest.Review == null) ? "" : "disabled") @(Model.ServiceRequest.Review == 5 ? "checked" : "")/>
                                <label class="star star-5" for="star-5"></label>
                                <input class="star star-4" id="star-4" type="radio" name="ReviewStar" value="4"
                                @((Model.IsOwner && Model.ServiceRequest.Review == null) ? "" : "disabled") @(Model.ServiceRequest.Review == 4 ? "checked" : "")/>
                                <label class="star star-4" for="star-4"></label>
                                <input class="star star-3" id="star-3" type="radio" name="ReviewStar" value="3"
                                @((Model.IsOwner && Model.ServiceRequest.Review == null) ? "" : "disabled") @(Model.ServiceRequest.Review == 3 ? "checked" : "")/>
                                <label class="star star-3" for="star-3"></label>
                                <input class="star star-2" id="star-2" type="radio" name="ReviewStar" value="2"
                                @((Model.IsOwner && Model.ServiceRequest.Review == null) ? "" : "disabled") @(Model.ServiceRequest.Review == 2 ? "checked" : "")/>
                                <label class="star star-2" for="star-2"></label>
                                <input class="star star-1" id="star-1" type="radio" name="ReviewStar" value="1"
                                @((Model.IsOwner && Model.ServiceRequest.Review == null) ? "" : "disabled") @(Model.ServiceRequest.Review == 1 ? "checked" : "")/>
                                <label class="star star-1" for="star-1"></label>
                                <button id="submitReview" type="submit" style="display:none;" class="btn btn-sm btn-outline-info position-absolute">التقييم</button>
                              </form>
                            </div>	
	                    </div>
                    </div>
                }

                <!--Assign and change employee-->
                @if (Model.OrgAdminViewer && !Model.IsCompleted)
                {
                    @if (string.IsNullOrEmpty(Model.ServiceRequest.EmployeeId))
                    {
                        <button class="btn btn-outline-primary m-1" data-bs-toggle="modal" data-bs-target="#assignModal" onclick="loadAssignModal('@Model.ServiceRequest.ServiceRequestId')">تعيين موظف</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-warning m-1" data-bs-toggle="modal" data-bs-target="#changeModal" onclick="loadChangeModal('@Model.ServiceRequest.ServiceRequestId')">تغيير الموظف</button>
                    }
                }

                @if (Model.EmployeeViewer && !Model.IsCompleted)
                {
                    <!--Appointment-->
                    @if (Model.ServiceRequest.AppointmentId == null)
                    {
                        <button type="button" class="btn btn-outline-primary m-1" data-bs-toggle="modal" data-bs-target="#scheduleModal">
                            <i class="bi bi-calendar-plus"></i> اضافة موعد
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-outline-warning m-1" data-bs-toggle="modal" data-bs-target="#rescheduleModal">
                            <i class="bi bi-calendar-week"></i><text> تعديل الموعد</text>
                        </button>
                    }


                    <!--Change Status-->
                    <div class="d-flex justify-content-center m-3">
                        <form asp-page="Info" asp-page-handler="Status" class="text-center w-75">
                            <div class="d-flex align-items-center justify-content-center gap-3">
                                <div class="form-floating flex-grow-1">
                                    <select id="statusSelect" onchange="checkSelection()" asp-for="ChangeStatus.StatusId" asp-items="@Model.StatusOptions" class="form-select">
                                    </select>
                                    <label asp-for="ChangeStatus.StatusId"></label>
                                    <span asp-validation-for="ChangeStatus.StatusId" class="text-danger"></span>
                                </div>
                                <button id="statusSaveButton" type="submit" class="btn btn-primary" disabled>حفظ</button>
                            </div>
                        </form>
                    </div>
                }

                <!--Follower Count / Follow and Unfollow button-->
                @if (Model.ServiceRequest.IsPublic)
                {
                    <div class="d-flex align-items-center p-1">
                        <span class="text-muted">
                            <i class="bi bi-person-fill-check"></i> عدد المتابعين @Model.FollowerCount
                        </span>
                        @if (Model.FollowVisible && !Model.IsCompleted)
                        {
                            <form method="post" asp-page-handler="@((Model.IsFollowing ? "Unfollow" : "Follow"))" asp-route-id="@Model.ServiceRequest.ServiceRequestId" class="me-1 p-0">
                                <button type="submit" class="btn btn-sm @(Model.IsFollowing ? "btn-outline-danger" : "btn-outline-primary")">
                                    @if (Model.IsFollowing)
                                    {
                                        <i class="bi bi-patch-minus"></i>
                                        <text>الغاء المتابعة</text>
                                    }
                                    else
                                    {
                                        <i class="bi bi-patch-check"></i>
                                        <text>متابعة</text>
                                    }
                                </button>
                            </form>
                        }
                        <button type="button" class="btn btn-sm btn-outline-primary m-1" data-bs-toggle="modal" data-bs-target="#commentsModal" onclick="loadCommentsModal('@Model.ServiceRequest.ServiceRequestId')">
                            <i class="bi bi-chat"></i> التعليقات
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Progress Indicator-->
<div class="mx-5 prog-box">
    <div class="progress" role="progressbar" aria-label="progInd" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @((int)Model.ServiceRequest.Status)%"></div>
    </div>

    <div>
        <span class="dot first-dot">
            <i class="bi bi-hourglass-bottom"></i>
        </span>
        <span class="dot-label first-dot-label">قيدالانتظار</span>
    </div>

    <div>
        <span class="dot second-dot">
            <i class="bi bi-hand-thumbs-up-fill"></i>
        </span>
        <span class="dot-label second-dot-label">مقبول</span>
    </div>

    <h3>
    <span class="middle-text hide badge">
    </span>
    </h3>

    <div>
        <span class="dot third-dot">
            <i class="bi bi-gear-fill"></i>
        </span>
        <span class="dot-label third-dot-label">قيدالعمل</span>
    </div>

    <div>
        <span class="dot fourth-dot">
            <i class="bi bi-check-circle-fill"></i>
        </span>
        <span class="dot-label fourth-dot-label">مكتمل</span>
    </div>
</div>

<!-- Map Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">الموقع على الخريطة</h5>
                <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="map" style="height: 400px;"></div>
            </div>
        </div>
    </div>
</div>

@if (Model.EmployeeViewer && !Model.IsCompleted)
{
    <!-- Schedule Modal -->
    <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-lg rounded-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="scheduleModalLabel">اضافة موعد للطلب</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-page="Info" asp-page-handler="AddAppointment">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="dateInput" class="form-label">اختر يوماً</label>
                            <input type="date" class="form-control" id="dateInput" name="ScheduleDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="timeInput" class="form-label">اختر وقتاً</label>
                            <input type="time" class="form-control" id="timeInput" name="ScheduleTime" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الالغاء</button>
                        <button type="submit" class="btn btn-success">إضافة الموعد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Reschedule Modal -->
    <div class="modal fade" id="rescheduleModal" tabindex="-1" aria-labelledby="rescheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-lg rounded-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="rescheduleModalLabel">اضافة موعد للطلب</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-page="Info" asp-page-handler="ReSchAppointment">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="dateInput" class="form-label">اختر يوماً</label>
                            <input type="date" class="form-control" id="dateInput" name="ScheduleDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="timeInput" class="form-label">اختر وقتاً</label>
                            <input type="time" class="form-control" id="timeInput" name="ScheduleTime" required>
                        </div>
                        <input type="hidden" asp-for="@Model.ReSchAppointment.AppointmentId" value="@Model.ServiceRequest.AppointmentId" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الالغاء</button>
                        <button type="submit" class="btn btn-success">تعديل الموعد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@if (Model.EmployeeViewer || Model.OrgAdminViewer)
{
<!--Contect Info Modal-->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-4">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">التواصل مع المواطن</h5>
                <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>الاسم:</strong> @Model.Citizen.FullName</p>
                <p>
                    <strong>البريد الاكتروني:</strong>
                    <a href="mailto:@Model.Citizen.Email">@Model.Citizen.Email</a>
                </p>
                <p>
                    <strong>رقم الجوال:</strong>
                    <a href="https://wa.me/+963@(Model.Citizen.PhoneNumber)" target="_blank">@Model.Citizen.PhoneNumber</a>
                </p>
            </div>
        </div>
    </div>
</div>
}

@if (Model.OrgAdminViewer && !Model.IsCompleted)
{
    <!--Assign Modal-->
    <div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="assignEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-lg rounded-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="assignModalLabel">تعيين موظف</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <iframe id="assignFrame" style="border:0; height:200px"></iframe>
            </div>
        </div>
    </div>

    <!--Change Modal-->
    <div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-lg rounded-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeModalLabel">تغيير الموظف</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <iframe id="changeFrame" style="border:0; height:200px"></iframe>
            </div>
        </div>
    </div>
}

@if (Model.ServiceRequest.IsPublic)
{
    <!--Comment Modal-->
    <div class="modal fade" id="commentsModal" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content shadow-lg rounded-4">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentsModalLabel">التعليقات</h5>
                    <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <iframe id="commentsFrame" style="border:0; height:500px"></iframe>
            </div>
        </div>
    </div>
}

<script>
    //map logic
    const latitude = @Model.ServiceRequest.Latitude;
    const longitude = @Model.ServiceRequest.Longitude;
    let mapInitialized = false;
    let map;

    const mapModal = document.getElementById('mapModal');
    mapModal.addEventListener('shown.bs.modal', function () {
        if (!mapInitialized) {
            map = L.map('map').setView([latitude, longitude], 15);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map);

            L.marker([latitude, longitude]).addTo(map)
                .bindPopup('Saved Location')
                .openPopup();

            mapInitialized = true;
        } else {
            map.invalidateSize(); // Recalculate map size if modal is reopened
        }
    });
</script>
<script>
    //status select section

    let originalValue;

    window.onload = function () {
        const select = document.getElementById("statusSelect");
        if(select) originalValue = select.value;
    };

    function checkSelection() {
        const select = document.getElementById("statusSelect");
        const button = document.getElementById("statusSaveButton");
        if (select){
            if (select.value !== originalValue) {
                button.disabled = false;
            } else {
                button.disabled = true;
            }
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('.rating-form input[type="radio"]');
        const submitButton = document.getElementById('submitReview');

        if (stars){
            stars.forEach(star => {
                star.addEventListener('change', () => {
                    submitButton.style.display = 'inline-block';
                });
            });
        }
    });
</script>

@section Styles {
    <link rel="stylesheet" href="~/css/progindicator.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/leaflet/css/leaflet.css" />
    <link rel="stylesheet" href="~/css/review.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}

@section Scripts {
    <script src="~/js/progIndicator.js" asp-append-version="true"></script>
    <script src="~/js/assignModal.js" asp-append-version="true"></script>
    <script src="~/js/commentsModal.js" asp-append-version="true"></script>
    <script src="~/lib/leaflet/js/leaflet.js"></script>
}