@page "{id}"
@model DPMOPS.Pages.ServiceRequest.InfoModel
@{
    ViewData["Title"] = "Request's Info";
}

<p>@Model.ServiceRequest.Title</p>
<p>@Model.ServiceRequest.Description</p>
<p>@Model.ServiceRequest.CitizenName</p>
<p>@Model.ServiceRequest.OrganizationName</p>
<p>@Model.ServiceRequest.EmployeeName</p>
<p>@Model.ServiceRequest.Address</p>
<p>@Model.ServiceRequest.LocDescription</p>
<p>@Model.ServiceRequest.DateCreated</p>
<p>@Model.ServiceRequest.Status</p>

@if(Model.ClaimVisible){
    <a asp-page="Claim" asp-route-id="@Model.ServiceRequest.ServiceRequestId" class="w-100 btn btn-primary">Claim</a>
}

@if (Model.StatusVisible)
{
    <form asp-page="Info" asp-page-handler="Status">
        <div class="form-floating mb-3">
            <select asp-for="ChangeStatus.StatusId" asp-items="Html.GetEnumSelectList<Models.Status>()" class="form-select">
            </select>
            <label asp-for="ChangeStatus.StatusId"></label>
            <span asp-validation-for="ChangeStatus.StatusId" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
    </form>
}

@if(Model.DeleteVisible){
    @*are you sureeeee js!!*@
    <a asp-page="Delete" asp-route-id="@Model.ServiceRequest.ServiceRequestId" class="w-100 btn btn-danger">Delete</a>
}

@*(idea) make button to transfer to another employee if you're the admin*@