@page "{category?}"
@model DPMOPS.Pages.ServiceRequest.PublicModel
@using Humanizer

@{
    ViewData["Title"] = "تصفح الطلبات";
}

<div class="container my-4">
    <div class="d-flex justify-content-between mb-3">
        @if (Model.Requests == null || Model.Requests.Count == 0)
        {
            <div class="alert alert-info">
                لا يوجد طلبات
            </div>
        }
        else
        {
            <div class="panel-heading">
                <h3 class="fw-bold mb-0">الطلبات الشائعة</h3>
            </div>
        }
        <div>
            <a asp-page="/ServiceRequest/Add" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
                التقديم على طلب خدمة
            </a>
        </div>
    </div>

    @if (Model.Requests != null && Model.Requests.Count > 0)
    {
        <div class="row g-4">
            @foreach (var sr in Model.Requests)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a asp-page="/ServiceRequest/Info" asp-route-id="@sr.ServiceRequestId" class="text-decoration-none">
                        <div class="card card-custom-bg h-100 shadow-sm d-flex flex-column">
                            <!-- Image: 4:3 ratio -->
                            <div class="ratio ratio-4x3 h-100">
                                <img src="@(string.IsNullOrEmpty(sr.PhotoPath) ? "/placeholder.jpg" : sr.PhotoPath)"
                                     class="object-fit-cover card-img-top"
                                     alt="الصورة غير متوفرة"
                                     asp-append-version="true">
                            </div>


                            <!-- Card Body -->
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title fw-bold">@sr.Title</h4>
                                <p class="card-text flex-grow-1">@sr.Description</p>
                                <p class="small text-muted">
                                    <i class="bi bi-geo-alt-fill"></i> @sr.Address <br />
                                    <i class="bi bi-activity"></i> @sr.Status <br />
                                    <i class="bi bi-person-fill-check"></i> عدد المتابعين @sr.FollowerCount
                                </p>
                                <div class="position-absolute d-flex gap-2" style="bottom: 0.5rem; left: 0.5rem;">
                                    @if (sr.FollowVisible)
                                    {
                                        <form asp-page="Info" asp-page-handler="@((sr.IsFollowing ? "Unfollow" : "Follow"))" asp-route-id="@sr.ServiceRequestId" class="me-1 p-0">
                                            <button type="submit" class="btn btn-sm @(sr.IsFollowing ? "btn-outline-danger" : "btn-outline-primary")">
                                                @if (sr.IsFollowing)
                                                {
                                                    <i class="bi bi-patch-minus"></i>
                                                    <text>الغاء المتابعة</text>
                                                }
                                                else
                                                {
                                                    <i class="bi bi-patch-check"></i>
                                                    <text>متابعة</text>
                                                }
                                            </button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>


