@page
@model DPMOPS.Pages.ServiceRequest.RequestsByProviderModel
@{
    ViewData["Title"] = "Service Requests";
}

<div class="panel panel-default table-panel">
    <h3>@ViewData["Title"]</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Desc</th>
                <th>Reason</th>
                <th>Location</th>
                <th>Location Desc</th>
                <th>Service Type</th>
                <th>Citizen Name</th>
                <th>Provider Name</th>
                <th>Date Reported</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sr in Model.ServiceRequests)
            {
                <tr>
                    <td>@sr.Description</td>
                    <td>@sr.Reason</td>
                    <td>@sr.Address</td>
                    <td>@sr.LocDescription</td>
                    <td>@sr.ServiceType</td>
                    <td>@sr.CitizenName</td>
                    <td>@sr.ProviderName</td>
                    <td>@sr.DateCreated</td>
                    <td>@sr.Status</td>
                    <td>
                        <a asp-page="/ServiceRequest/EditServiceRequest" asp-route-id="@sr.ServiceRequestId" class="btn btn-sm btn-warning">Edit</a>
                        @*<a asp-page="/ServiceRequest/DeleteServiceRequest" asp-route-id="@sr.ServiceRequestId" class="btn btn-sm btn-danger">Delete</a>*@                   
                    </td>
                </tr>
            }
        </tbody>
    </table>