@page
@model DPMOPS.Pages.Employees.AllEmployeesModel
@{
    ViewData["Title"] = "Employees";
}

<div class="panel panel-default table-panel">
    <h3>@ViewData["Title"]</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Provider</th>
                <th>Email</th>
                <th>Loacation</th>
                <th>Requests</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Employees)
            {
                <tr>
                    <td>@e.EmployeeName</td>
                    <td>@e.ProviderName</td>
                    <td>@e.EmployeeEmail</td>
                    <td>@e.Address</td>
                    <td>@e.NumberOfServiceRequests</td>
                </tr>
            }
        </tbody>
    </table>
</div>

