@page
@model DPMOPS.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}

<div class="panel panel-default table-panel">
    <h3>@ViewData["Title"]</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Loacation</th>
                <th>Requests</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.Employees)
            {
                <tr>
                    <td>@e.EmployeeName</td>
                    <td>@e.EmployeeEmail</td>
                    <td>@e.Address</td>
                    <td>@e.NumberOfServiceRequests</td>
                    <td>
                        <a class="btn btn-sm btn-warning">Edit</a>
                        <a class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="/Employees/AddEmployee" class="btn btn-primary">Add</a>
</div>

