@page "{id}"
@model DPMOPS.Pages.Organization.Employees.IndexModel
@{
    ViewData["Title"] = "Manage Employees";

}

@if (Model.Employees.Any())
{
    <div class="panel panel-default table-panel">
        <div class="panel-heading"><h3>Employee Accounts:</h3></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Date Created</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Employees)
                {
                    <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.DateCreated.Date.ToString("dd/MM/yyyy")</td>
                        <td>@user.District.City.Name, @user.District.Name</td>
                        <td><a asp-page="" class="w-100 btn btn-primary">Make Admin</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="panel-heading"><h3>Employee Accounts:</h3></div>
    <div class="alert alert-info">No users found.</div>
}

<a asp-area="Identity" asp-page="/Account/RegisterEmployee" asp-route-orgId="@Model.OrgId" class="btn btn-sm btn-primary">Add Employee</a>

@if (Model.Admins.Any())
{
    <div class="panel panel-default table-panel">
        <div class="panel-heading"><h3>Admin Accounts:</h3></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Date Created</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Admins)
                {
                    <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.DateCreated.Date.ToString("dd/MM/yyyy")</td>
                        <td>@user.District.City.Name, @user.District.Name</td>
                        <td><a asp-page="" class="w-100 btn btn-danger btn-danger">Remove Admin</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="panel-heading"><h3>Admin Accounts:</h3></div>
    <div class="alert alert-info">No users found.</div>
}

<a asp-area="Identity" asp-page="/Account/RegisterOrgAdmin" asp-route-orgId="@Model.OrgId" class="btn btn-sm btn-primary">Add Admin</a>
